<a href="https://colab.research.google.com/github/olivier2106/Machine-Learning-with-Python/blob/master/sxxp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
root_path = 'gdrive/My Drive/Flavien/Equity/SXXP_without_volume.xlsx'  #change dir to your project folder

In [0]:
df = pd.read_excel(root_path)

In [6]:
df.head()

            Unnamed: 0    ENX FP Equity  ...    Unnamed: 2999    Unnamed: 3000
0                Dates  #N/A Connection  ...  #N/A Connection  #N/A Connection
1      #N/A Connection             65.6  ...           265.65           263.15
2  2019-06-07 00:00:00               64  ...           264.35           259.75
3  2019-06-06 00:00:00             63.3  ...            264.7            259.3
4  2019-06-05 00:00:00             63.5  ...            265.6           258.45

[5 rows x 3001 columns]

In [0]:
df = df.replace('#N/A Connection', np.nan)

In [0]:
def clean_df(df):
    return df.drop(df.index[0]).drop(df.index[1])

In [0]:
df_cleaned = clean_df(df)
df_cleaned

,Unnamed: 0,ENX FP Equity,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,PSPN SE Equity,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,PEO PW Equity,Unnamed: 2992,Unnamed: 2993,Unnamed: 2994,Unnamed: 2995,GLEN LN Equity,Unnamed: 2997,Unnamed: 2998,Unnamed: 2999,Unnamed: 3000
2,2019-06-07 00:00:00,64.00,63.30,63.30,64.00,62.95,113.2,114.0,113.5,114.0,...,111.55,110.10,110.60,112.00,110.10,260.90,262.35,261.25,264.35,259.75
3,2019-06-06 00:00:00,63.30,63.85,63.50,63.95,63.25,113.5,113.5,113.1,114.8,...,110.60,108.95,109.00,111.50,108.55,261.25,259.30,259.50,264.70,259.30
4,2019-06-05 00:00:00,63.50,63.10,62.85,63.95,62.75,113.1,112.1,112.2,113.2,...,109.00,108.20,108.00,109.30,108.00,259.50,262.65,261.80,265.60,258.45
5,2019-06-04 00:00:00,62.85,61.95,62.30,63.10,61.75,112.2,112.5,112.2,113.1,...,108.00,107.50,107.50,109.00,107.40,261.80,256.30,256.75,262.65,254.20
6,2019-06-03 00:00:00,62.30,64.05,63.70,64.95,61.60,112.2,112.2,112.2,112.8,...,107.50,105.80,106.25,108.15,105.00,256.75,251.90,254.65,258.05,250.70
7,2019-05-31 00:00:00,63.70,63.70,63.85,63.80,62.85,112.2,111.7,111.3,112.6,...,106.25,105.20,106.20,106.45,105.00,254.65,257.05,260.00,257.60,252.35
8,2019-05-30 00:00:00,63.85,63.15,62.75,63.90,62.80,111.3,111.2,111.0,111.8,...,106.20,103.90,103.75,106.70,102.85,260.00,260.00,258.50,261.35,258.10
9,2019-05-29 00:00:00,62.75,63.25,63.25,63.25,62.35,111.3,111.2,111.0,111.8,...,103.75,102.00,102.35,103.75,101.65,258.50,260.60,260.05,260.60,249.75
10,2019-05-28 00:00:00,63.25,63.30,63.40,63.90,63.15,111.0,111.0,110.9,111.1,...,102.35,104.00,104.00,104.30,102.15,260.05,264.20,261.00,268.20,259.35
11,2019-05-27 00:00:00,63.40,64.75,64.15,64.75,63.30,110.9,111.4,111.0,111.4,...,104.00,104.00,103.90,104.50,103.80,261.00,262.20,259.65,263.75,259.10
12,2019-05-24 00:00:00,64.15,62.25,62.55,64.15,62.20,111.0,110.7,110.3,111.4,...,103.90,102.50,102.70,103.95,102.25,261.00,262.20,259.65,263.75,259.10
13,2019-05-23 00:00:00,62.55,63.45,63.70,63.45,62.25,110.3,110.1,110.1,110.5,...,102.70,103.20,103.50,103.55,102.30,259.65,263.90,266.45,265.50,257.55
14,2019-05-22 00:00:00,63.70,63.20,64.35,63.95,62.95,110.1,110.9,111.0,111.2,...,103.50,103.00,103.00,103.95,102.30,266.45,274.05,273.25,275.40,266.45
15,2019-05-21 00:00:00,64.35,63.95,63.45,64.65,63.50,111.0,110.6,110.1,111.0,...,103.00,102.60,102.25,103.10,102.30,273.25,273.45,273.00,277.10,272.35
16,2019-05-20 00:00:00,63.45,63.70,63.40,63.90,62.60,110.1,109.3,109.4,110.6,...,102.25,104.05,104.05,104.50,102.25,273.00,276.40,276.70,277.95,271.55
17,2019-05-17 00:00:00,63.40,64.00,63.70,64.45,63.10,109.4,110.2,110.6,111.2,...,104.05,104.00,104.15,104.30,102.80,276.70,275.45,280.15,278.50,271.70
18,2019-05-16 00:00:00,63.70,62.50,61.15,64.20,62.00,110.6,109.2,108.7,110.6,...,104.15,102.30,101.90,104.20,101.60,280.15,278.85,278.35,282.45,276.90
19,2019-05-15 00:00:00,61.15,61.40,60.65,61.50,60.75,108.7,109.1,109.0,110.2,...,101.90,103.80,103.15,104.15,101.00,278.35,279.95,277.00,280.00,272.30
20,2019-05-14 00:00:00,60.65,60.35,59.95,60.90,59.85,109.0,108.3,108.3,109.0,...,103.15,105.50,104.85,105.80,103.15,277.00,272.50,271.70,279.95,272.50
21,2019-05-13 00:00:00,59.95,61.15,60.05,61.70,59.95,108.3,108.1,108.1,108.7,...,104.85,106.60,106.45,106.65,104.15,271.70,282.55,280.85,282.65,271.25
22,2019-05-10 00:00:00,60.05,59.60,59.70,60.75,58.90,108.1,107.0,107.0,108.4,...,106.45,105.75,104.70,107.20,105.20,280.85,283.90,280.70,287.00,280.15
23,2019-05-09 00:00:00,59.70,61.50,61.30,61.50,59.70,107.0,105.7,106.1,107.3,...,104.70,107.45,107.45,108.15,104.70,280.70,282.10,286.95,284.25,279.25
24,2019-05-08 00:00:00,61.30,60.95,61.00,61.50,60.80,106.1,109.2,109.0,109.8,...,107.45,109.00,108.30,109.30,107.05,286.95,287.70,289.50,292.40,282.30
25,2019-05-07 00:00:00,61.00,61.00,61.10,61.55,60.90,109.0,103.8,104.3,109.0,...,108.30,113.00,112.50,113.00,108.30,289.50,296.00,298.40,296.00,287.95
26,2019-05-06 00:00:00,61.10,60.65,61.40,61.25,60.25,104.3,104.0,104.3,104.6,...,112.50,113.10,113.95,113.90,111.95,298.40,296.00,296.40,301.45,296.00
27,2019-05-03 00:00:00,61.40,61.80,61.60,61.80,61.05,104.3,104.3,104.3,104.8,...,113.95,114.00,113.70,114.65,113.50,298.40,296.00,296.40,301.45,296.00
28,2019-05-02 00:00:00,61.60,61.85,61.95,62.10,61.55,104.3,104.0,104.0,104.5,...,113.95,114.00,113.70,114.65,113.50,296.40,297.80,301.80,300.60,295.05
29,2019-05-01 00:00:00,61.95,61.50,61.35,62.20,61.15,104.0,104.2,104.4,104.6,...,113.70,116.00,117.15,116.00,113.00,301.80,305.45,304.35,307.00,301.45
30,2019-04-30 00:00:00,61.95,61.50,61.35,62.20,61.15,104.0,104.2,104.4,104.6,...,113.70,116.00,117.15,116.00,113.00,304.35,311.00,312.55,311.45,298.90
31,2019-04-29 00:00:00,61.35,60.70,60.75,61.60,60.70,104.4,104.7,104.5,105.2,...,117.15,116.50,116.50,117.20,116.25,312.55,309.70,310.85,314.50,309.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5042,2000-02-11 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,60.00,60.00,60.00,60.00,58.50,NaN,NaN,NaN,NaN,NaN
5043,2000-02-10 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,60.00,58.50,58.50,60.00,57.00,NaN,NaN,NaN,NaN,NaN
5044,2000-02-09 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,58.50,60.00,59.90,61.70,58.50,NaN,NaN,NaN,NaN,NaN
5045,2000-02-08 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,59.90,59.60,59.00,60.10,59.00,NaN,NaN,NaN,NaN,NaN
5046,2000-02-07 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,59.00,59.60,60.50,60.10,59.00,NaN,NaN,NaN,NaN,NaN
5047,2000-02-04 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,60.50,61.90,60.50,61.90,60.00,NaN,NaN,NaN,NaN,NaN
5048,2000-02-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,60.50,60.60,59.00,61.00,60.00,NaN,NaN,NaN,NaN,NaN
5049,2000-02-02 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,59.00,59.40,59.50,59.40,58.60,NaN,NaN,NaN,NaN,NaN
5050,2000-02-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,59.50,59.40,58.70,59.80,59.40,NaN,NaN,NaN,NaN,NaN
5051,2000-01-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,58.70,58.90,60.00,58.90,58.10,NaN,NaN,NaN,NaN,NaN
5052,2000-01-28 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,60.00,59.50,58.00,60.00,58.20,NaN,NaN,NaN,NaN,NaN
5053,2000-01-27 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,58.00,58.20,60.00,58.50,58.00,NaN,NaN,NaN,NaN,NaN
5054,2000-01-26 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,60.00,59.00,58.50,60.00,59.00,NaN,NaN,NaN,NaN,NaN
5055,2000-01-25 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,58.50,58.50,59.00,58.50,58.00,NaN,NaN,NaN,NaN,NaN
5056,2000-01-24 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,59.00,61.00,61.00,61.00,59.00,NaN,NaN,NaN,NaN,NaN
5057,2000-01-21 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,61.00,60.30,60.00,61.50,60.30,NaN,NaN,NaN,NaN,NaN
5058,2000-01-20 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,60.00,60.00,59.00,60.00,59.50,NaN,NaN,NaN,NaN,NaN
5059,2000-01-19 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,59.00,58.80,59.00,59.00,58.10,NaN,NaN,NaN,NaN,NaN
5060,2000-01-18 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,59.00,59.50,59.50,60.00,58.60,NaN,NaN,NaN,NaN,NaN
5061,2000-01-17 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,59.50,58.00,58.90,60.10,58.00,NaN,NaN,NaN,NaN,NaN
5062,2000-01-14 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,58.90,60.00,60.00,60.00,58.10,NaN,NaN,NaN,NaN,NaN
5063,2000-01-13 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,60.00,61.00,62.00,62.10,59.20,NaN,NaN,NaN,NaN,NaN
5064,2000-01-12 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,62.00,62.50,63.50,63.00,61.00,NaN,NaN,NaN,NaN,NaN
5065,2000-01-11 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,63.50,63.50,64.20,63.80,62.80,NaN,NaN,NaN,NaN,NaN
5066,2000-01-10 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,64.20,63.50,62.80,64.50,63.50,NaN,NaN,NaN,NaN,NaN
5067,2000-01-07 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,62.80,60.30,59.50,63.50,60.30,NaN,NaN,NaN,NaN,NaN
5068,2000-01-06 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,59.50,57.00,57.20,59.90,57.00,NaN,NaN,NaN,NaN,NaN
5069,2000-01-05 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,57.20,56.00,57.00,57.20,56.00,NaN,NaN,NaN,NaN,NaN
5070,2000-01-04 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,57.00,56.00,55.90,57.20,56.00,NaN,NaN,NaN,NaN,NaN
5071,2000-01-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,55.90,56.90,54.00,56.90,55.90,NaN,NaN,NaN,NaN,NaN

In [0]:
df_cleaned['Date'] = pd.to_datetime(df_cleaned['Unnamed: 0'])
df_cleaned = df_cleaned.sort_values(by = 'Date')

In [0]:
df_cleaned.iloc[:,[0, 1, 2, 3, 4, 5]]

,Unnamed: 0,ENX FP Equity,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
5071,2000-01-03 00:00:00,NaN,NaN,NaN,NaN,NaN
5070,2000-01-04 00:00:00,NaN,NaN,NaN,NaN,NaN
5069,2000-01-05 00:00:00,NaN,NaN,NaN,NaN,NaN
5068,2000-01-06 00:00:00,NaN,NaN,NaN,NaN,NaN
5067,2000-01-07 00:00:00,NaN,NaN,NaN,NaN,NaN
5066,2000-01-10 00:00:00,NaN,NaN,NaN,NaN,NaN
5065,2000-01-11 00:00:00,NaN,NaN,NaN,NaN,NaN
5064,2000-01-12 00:00:00,NaN,NaN,NaN,NaN,NaN
5063,2000-01-13 00:00:00,NaN,NaN,NaN,NaN,NaN
5062,2000-01-14 00:00:00,NaN,NaN,NaN,NaN,NaN
5061,2000-01-17 00:00:00,NaN,NaN,NaN,NaN,NaN
5060,2000-01-18 00:00:00,NaN,NaN,NaN,NaN,NaN
5059,2000-01-19 00:00:00,NaN,NaN,NaN,NaN,NaN
5058,2000-01-20 00:00:00,NaN,NaN,NaN,NaN,NaN
5057,2000-01-21 00:00:00,NaN,NaN,NaN,NaN,NaN
5056,2000-01-24 00:00:00,NaN,NaN,NaN,NaN,NaN
5055,2000-01-25 00:00:00,NaN,NaN,NaN,NaN,NaN
5054,2000-01-26 00:00:00,NaN,NaN,NaN,NaN,NaN
5053,2000-01-27 00:00:00,NaN,NaN,NaN,NaN,NaN
5052,2000-01-28 00:00:00,NaN,NaN,NaN,NaN,NaN
5051,2000-01-31 00:00:00,NaN,NaN,NaN,NaN,NaN
5050,2000-02-01 00:00:00,NaN,NaN,NaN,NaN,NaN
5049,2000-02-02 00:00:00,NaN,NaN,NaN,NaN,NaN
5048,2000-02-03 00:00:00,NaN,NaN,NaN,NaN,NaN
5047,2000-02-04 00:00:00,NaN,NaN,NaN,NaN,NaN
5046,2000-02-07 00:00:00,NaN,NaN,NaN,NaN,NaN
5045,2000-02-08 00:00:00,NaN,NaN,NaN,NaN,NaN
5044,2000-02-09 00:00:00,NaN,NaN,NaN,NaN,NaN
5043,2000-02-10 00:00:00,NaN,NaN,NaN,NaN,NaN
5042,2000-02-11 00:00:00,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
31,2019-04-29 00:00:00,61.35,60.70,60.75,61.60,60.70
30,2019-04-30 00:00:00,61.95,61.50,61.35,62.20,61.15
29,2019-05-01 00:00:00,61.95,61.50,61.35,62.20,61.15
28,2019-05-02 00:00:00,61.60,61.85,61.95,62.10,61.55
27,2019-05-03 00:00:00,61.40,61.80,61.60,61.80,61.05
26,2019-05-06 00:00:00,61.10,60.65,61.40,61.25,60.25
25,2019-05-07 00:00:00,61.00,61.00,61.10,61.55,60.90
24,2019-05-08 00:00:00,61.30,60.95,61.00,61.50,60.80
23,2019-05-09 00:00:00,59.70,61.50,61.30,61.50,59.70
22,2019-05-10 00:00:00,60.05,59.60,59.70,60.75,58.90
21,2019-05-13 00:00:00,59.95,61.15,60.05,61.70,59.95
20,2019-05-14 00:00:00,60.65,60.35,59.95,60.90,59.85
19,2019-05-15 00:00:00,61.15,61.40,60.65,61.50,60.75
18,2019-05-16 00:00:00,63.70,62.50,61.15,64.20,62.00
17,2019-05-17 00:00:00,63.40,64.00,63.70,64.45,63.10
16,2019-05-20 00:00:00,63.45,63.70,63.40,63.90,62.60
15,2019-05-21 00:00:00,64.35,63.95,63.45,64.65,63.50
14,2019-05-22 00:00:00,63.70,63.20,64.35,63.95,62.95
13,2019-05-23 00:00:00,62.55,63.45,63.70,63.45,62.25
12,2019-05-24 00:00:00,64.15,62.25,62.55,64.15,62.20
11,2019-05-27 00:00:00,63.40,64.75,64.15,64.75,63.30
10,2019-05-28 00:00:00,63.25,63.30,63.40,63.90,63.15
9,2019-05-29 00:00:00,62.75,63.25,63.25,63.25,62.35
8,2019-05-30 00:00:00,63.85,63.15,62.75,63.90,62.80
7,2019-05-31 00:00:00,63.70,63.70,63.85,63.80,62.85
6,2019-06-03 00:00:00,62.30,64.05,63.70,64.95,61.60
5,2019-06-04 00:00:00,62.85,61.95,62.30,63.10,61.75
4,2019-06-05 00:00:00,63.50,63.10,62.85,63.95,62.75
3,2019-06-06 00:00:00,63.30,63.85,63.50,63.95,63.25
2,2019-06-07 00:00:00,64.00,63.30,63.30,64.00,62.95

In [0]:
from ta.momentum import rsi

In [0]:
columns_used = ['date', 
            'c2o', 
            'ratio_ma_5d_ma_20d', 'ratio_1d_ma_5d', 
            'ratio_volat_5d_volat_20d', 
            'rsi',
            'target', 'bips']

In [0]:
data = []

for i in range(0, 5*600, 5):
    columns = ['date', 'last', 'open', 'close_1d', 'high', 'low']
    ta_one_stock = df_cleaned.iloc[:, [0,i+1, i +2, i+3, i+4, i+5]].copy()
    ta_one_stock.columns = columns
    ta_one_stock = ta_one_stock.dropna(axis = 0)

    
    ta_one_stock['target'] = ta_one_stock['last']>ta_one_stock['open']
    ta_one_stock['bips'] = ta_one_stock['last']/ta_one_stock['open'] - 1
    ta_one_stock['c2o'] = ta_one_stock['open']/(ta_one_stock['close_1d'] + 0.0001)
    
    ta_one_stock['ratio_1d_ma_5d'] = ta_one_stock.close_1d/ta_one_stock.close_1d.rolling(5).mean()
    ta_one_stock['ratio_ma_5d_ma_20d'] = ta_one_stock.close_1d.rolling(5).mean()/ta_one_stock.close_1d.rolling(20).mean()

    ta_one_stock['ratio_volat_5d_volat_20d'] = ta_one_stock.close_1d.rolling(5).std()/ta_one_stock.close_1d.rolling(20).std()
    ta_one_stock['rsi'] = rsi(ta_one_stock['close_1d'])
    
    ta_one_stock = ta_one_stock.dropna(axis = 0)

    data.append(ta_one_stock[columns_used])

In [0]:
df = pd.DataFrame(np.concatenate(data), columns = columns_used)

In [0]:
df['day'] = df.date.dt.day
df['dayofweek'] = df.date.dt.dayofweek

# Get train test set

In [0]:
from lightgbm import LGBMClassifier
from sklearn.preprocessing import LabelEncoder

import sys
import heapq
from operator import itemgetter

In [0]:
train_features = ['c2o', 'ratio_volat_5d_volat_20d', 'ratio_ma_5d_ma_20d', 'ratio_1d_ma_5d', 'rsi', 'day', 'dayofweek']
df['target'] = LabelEncoder().fit_transform(df['target'])
N = 10

In [0]:
dates_train_test = ['2012-01-01', '2013-01-01', '2014-01-01', '2015-01-01', '2016-01-01', 
         '2017-01-01', '2018-01-01', '2019-01-01', '2020-01-01']

In [0]:

all_perf = []
dates_backtest = []

for dates_train, dates_test in zip(dates_train_test, dates_train_test[1:]):
    df_train = df[df.date<dates_train]
    df_test = df[(df.date>dates_train)&(df.date<dates_test)].copy()


    model = LGBMClassifier(n_estimators = 20)
    model.fit(df_train[train_features].values, 
              df_train['target'].values)
    pred = model.predict_proba(df_test[train_features].values)[:, 1]
    df_test['probas_up'] = pred


    dates = df_test['date'].sort_values().unique()
    for date in dates:
        subdf = dict(df_test[df_test['date']==date][['probas_up', 'bips']].values)

        topitems = heapq.nlargest(iterable=subdf.items(), key=itemgetter(0), n=N)
        topitemsasdict = dict(topitems)
        perf_long = np.mean(list(topitemsasdict.values()))


        topitems = heapq.nsmallest(iterable=subdf.items(), key=itemgetter(0), n=N)
        topitemsasdict = dict(topitems)
        perf_short = np.mean(list(topitemsasdict.values()))

        all_perf.append((perf_long - perf_short)/2 - 0.0004)
        dates_backtest.append(date)

In [0]:
money = pd.DataFrame()
money['dates'] = dates_backtest
money['year'] = money.dates.dt.year
money['all_perf'] = all_perf

In [0]:
money.groupby('year')['all_perf'].sum()

year
2012    1.346462
2013    0.739892
2014    0.759493
2015    0.916293
2016    0.983740
2017    0.473803
2018    0.466961
2019    0.221564
Name: all_perf, dtype: float64

In [0]:
import pyfolio as pf

/home/flavien/.local/lib/python3.6/site-packages/empyrical/utils.py:32: UserWarning: Unable to import pandas_datareader. Suppressing import error and continuing. All data reading functionality will raise errors; but has been deprecated and will be removed in a later version.
  warnings.warn(msg)

In [0]:
money.to_csv('money_made.csv', index = False)

# With Ann

In [0]:
def custom_objective(y_true, y_pred):
    """
    Custom objective loss function. In general it maximizes Sharp ratio.
    :param y_true: tensorflow array
    :param y_pred: tensorflow array
    :return: tensorflow float
    """
    x = y_pred * 2 - 1
		y = y_true
		x = (x - K.mean(x)) / K.std(x) #normalise x
		y = (y - K.mean(y)) / K.std(y) #normalise y
		return 1 - K.mean(x * y) / K.std(x - y)  
    #x = y_true * (2 * y_pred - 1)               ##not sure 
    #return 100 - (K.sum(x) / (K.std(x) + 0.001))

In [0]:
from keras.layers import Input, BatchNormalization, Dense, Dropout
from keras import regularizers, initializers
from keras import Model
from keras import backend as K

In [0]:


def create(nb_numerical_inputs, dropout_rate = 0.4, r_l2 = 0, r_l1 = 0):
    """
    creating architecture of our ANN model
    :return: tensorflow object
    """
    

    numerical_inputs = Input(shape=(nb_numerical_inputs,), name='num')
    numerical_logits = numerical_inputs
    numerical_logits = BatchNormalization()(numerical_logits) #i like the batch normalisation

#deuxieme layer
    numerical_logits = Dense(32,activation='relu', kernel_initializer=initializers.glorot_uniform(seed=23),
                             kernel_regularizer=regularizers.l2(r_l2),
                    activity_regularizer=regularizers.l1(r_l1))(numerical_logits)
    numerical_logits = Dropout(dropout_rate)(numerical_logits)

#troisieme layer
    numerical_logits = Dense(16,activation='relu', kernel_initializer=initializers.glorot_uniform(seed=23),
                             kernel_regularizer=regularizers.l2(r_l2),
                    activity_regularizer=regularizers.l1(r_l1))(numerical_logits)
    numerical_logits = Dropout(dropout_rate)(numerical_logits)

#quatrieme
    numerical_logits = Dense(8,activation='relu', kernel_initializer=initializers.glorot_uniform(seed=23),
                             kernel_regularizer=regularizers.l2(r_l2),
                    activity_regularizer=regularizers.l1(r_l1))(numerical_logits)
    numerical_logits = Dropout(dropout_rate)(numerical_logits)

    logits = Dense(16,activation='relu', kernel_initializer=initializers.glorot_uniform(seed=23),
                   kernel_regularizer=regularizers.l2(r_l2),
                    activity_regularizer=regularizers.l1(r_l1))(numerical_logits)
    logits = Dropout(dropout_rate)(logits)

#Final
    out = Dense(1, activation='sigmoid')(logits)

    model = Model(inputs = numerical_inputs, outputs=out)
    model.compile(optimizer='adam',loss=custom_objective)

    return model

In [0]:
model = create(len(train_features))

In [0]:
all_perf = []
dates_backtest = []

for dates_train, dates_test in zip(dates_train_test, dates_train_test[1:]):
    df_train = df[df.date<dates_train]
    df_test = df[(df.date>dates_train)&(df.date<dates_test)].copy()


    model = create(len(train_features))
    model.fit(df_train[train_features].values, 
              df_train['target'].values.reshape(-1,1), 
              batch_size = 1024)
    pred = model.predict(df_test[train_features].values)
    print(pred)
    df_test['probas_up'] = pred


    dates = df_test['date'].sort_values().unique()
    for date in dates:
        subdf = dict(df_test[df_test['date']==date][['probas_up', 'bips']].values)

        topitems = heapq.nlargest(iterable=subdf.items(), key=itemgetter(0), n=N)
        topitemsasdict = dict(topitems)
        perf_long = np.mean(list(topitemsasdict.values()))


        topitems = heapq.nsmallest(iterable=subdf.items(), key=itemgetter(0), n=N)
        topitemsasdict = dict(topitems)
        perf_short = np.mean(list(topitemsasdict.values()))

        all_perf.append((perf_long - perf_short)/2 - 0.0004)
        dates_backtest.append(date)

Epoch 1/1
1464805/1464805 [==============================] - 10s 7us/step - loss: -805.7677
[[0.5394193]
 [0.5394193]
 [0.5394193]
 ...
 [0.5394193]
 [0.5394193]
 [0.5394193]]
Epoch 1/1
1220608/1603300 [=====================>........] - ETA: 2s - loss: nan

KeyboardInterrupt: